*.jar
tools
*.log
launcher/.tempad_initialized
launcher/config
launcher/dist
launcher/launcher.dist
launcher/launcher.onefile-build
launcher/launcher.build


*.zip
!chromatic.pink.zip
*.mrpack

*/build

.tempad_initialized
tempad-client.jsonc
